# Pandas 사용

In [2]:
import pandas as pd
print(pd.__version__)
# pandas 사용환경 설정

1.1.5

In [21]:
import numpy as np

# 테스트

In [4]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# 구글 드라이브와 연동

In [3]:
from google.colab import drive
drive.mount('/content/drive')
# 구글 드라이브와 colab을 연동하여 드라이브의 파일을 가져올 수 있다.

Mounted at /content/drive

In [7]:
DATA_PATH = "경로를 입력하시기를 바랍니다."


DATA_PATH = '/content/drive/MyDrive/lectures_210923/PART_I_Intro/'
"""
 파일을 불러올 때는 경로를 잘 확인하여야 한다.
 이 형식처럼 경로를 나눠저 적어도 되지만

 DATA_PATH = '/content/drive/MyDrive/lectures_210923/PART_I_Intro/data/Lemonade2016.csv'
 lemonade = pd.read_csv(DATA_PATH)
 위의 형식처럼 작성해도 된다.
"""

lemonade = pd.read_csv(DATA_PATH + 'data/Lemonade2016.csv')
lemonade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

# 데이터 확인하기

In [11]:
lemonade.head(5)
# 데이터프레임의 상단 5개 데이터를 불러온다.
# lemonade.head() => 이렇게 공백으로 넣을 경우 기본값이 5로 되어 있다.

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [14]:
lemonade.tail(5)
# 데이터프레임의 하단 5개 데이터를 불러온다.
# lemonade.tail() => 이렇게 공백으로 넣을 경우 기본값이 5로 되어 있다.

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

In [23]:
print(lemonade.info())
"""
데이터 셋의 정보를 볼 수 있다.
데이터 셋 행은 총 31, 열은 7 개로 구성되어져 있다.
"""
print(lemonade.index)
# 데이터프레임의 인덱스 확인
print(lemonade.columns)
# 데이터프레임의 컬럼(행)을 확인 할 수 있다.
print(lemonade.values)
# numpy 데이터의 값을 확인 할 수 있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB
None
RangeIndex(start=0, stop=32, step=1)
Index(['Date', 'Location', 'Lemon', 'Orange', 'Temperature', 'Leaflets',
       'Price'],
      dtype='object')
[['7/1/2016' 'Park' 97 67 70 90.0 0.25]
 ['7/2/2016' 'Park' 98 67 72 90.0 0.25]
 ['7/3/2016' 'Park' 110 77 71 104.0 0.25]
 ['7/4/2016' 'Beach' 134 99 76 98.0 0.25]
 ['7/5/2016' 'Beach' 159 118 78 135.0 0.25]
 ['7/6/2016' 'Beach' 103 69 82 90.0 0.25]
 ['7/6/2016' 'Beach' 103 69 82 90.0 0.25]
 ['7/7/2016' 'Beach' 143 101 81 135.0 0.25]
 [nan 'Beach' 123 86 82 113.0 0.25]
 ['7/9/2016' 'Beach' 134 95 80 126.0 0.25]
 ['7/10/2016' 'Beach' 140 98 82 131.0 0.25]
 ['7/11/2016' 'Beach' 162 120 83 135.0 0.25]
 ['7/12/2016' 'Beach' 130 95 84 99.0 0.25]
 ['7/13/2016' 'Beach' 109 75 77 99.0 0.25]
 ['7/14/2016' 'Beach' 122 85 78 113.0 0.25]
 ['7/15/2016' 'Beach' 98 62 75 108.0 0.5]
 ['7/16/2016' 'Beach' 81 50 74 90.0 0.5]
 ['7/17/2016' 'Beach' 115 76 77 126.0 0.5]
 ['7/18/2016' 'Park' 131 92 81 122.0 0.5]
 ['7/19/2016' 'Park' 122 85 78 113.0 0.5]
 ['7/20/2016' 'Park' 71 42 70 nan 0.5]
 ['7/21/2016' 'Park' 83 50 77 90.0 0.5]
 ['7/22/2016' 'Park' 112 75 80 108.0 0.5]
 ['7/23/2016' 'Park' 120 82 81 117.0 0.5]
 ['7/24/2016' 'Park' 121 82 82 117.0 0.5]
 ['7/25/2016' 'Park' 156 113 84 135.0 0.5]
 ['7/26/2016' 'Park' 176 129 83 158.0 0.35]
 ['7/27/2016' 'Park' 104 68 80 99.0 0.35]
 ['7/28/2016' 'Park' 96 63 82 90.0 0.35]
 ['7/29/2016' 'Park' 100 66 81 95.0 0.35]
 ['7/30/2016' 'Beach' 88 57 82 81.0 0.35]
 ['7/31/2016' 'Beach' 76 47 82 68.0 0.35]]

In [82]:
lemonade.describe()

# 간단한 통계 정보를 보여주는 메서드다.
# count : 컬럼별 데이터의 개수
# mean : 데이터의 평균값
# std : 표준편차
# min : 최솟값
# 25%, 50%, 75% ; 4분위 수
# max : 최댓값

,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
count,32.000000,32.000000,32.000000,31.000000,32.000000,32.000000,32.000000
mean,116.156250,80.000000,78.968750,108.548387,0.354687,196.156250,68.156250
std,25.823357,21.863211,4.067847,20.117718,0.113137,47.647976,24.645531
min,71.000000,42.000000,70.000000,68.000000,0.250000,113.000000,41.000000
25%,98.000000,66.750000,77.000000,90.000000,0.250000,164.750000,51.500000
50%,113.500000,76.500000,80.500000,108.000000,0.350000,189.000000,58.875000
75%,131.750000,95.000000,82.000000,124.000000,0.500000,226.000000,83.375000
max,176.000000,129.000000,84.000000,158.000000,0.500000,305.000000,134.500000

In [29]:
lemonade.T
# 데이터 프레임에서 인덱스와 컬럼을 바꾼형태 입니다.
# 이때 주의할 점은 .T는 메서드가 아니기 때문에 .T() 형태로 사용하지 않습니다.

                   0         1         2   ...         29         30         31
Date         7/1/2016  7/2/2016  7/3/2016  ...  7/29/2016  7/30/2016  7/31/2016
Location         Park      Park      Park  ...       Park      Beach      Beach
Lemon              97        98       110  ...        100         88         76
Orange             67        67        77  ...         66         57         47
Temperature        70        72        71  ...         81         82         82
Leaflets           90        90       104  ...         95         81         68
Price            0.25      0.25      0.25  ...       0.35       0.35       0.35

[7 rows x 32 columns]

In [41]:
lemonade.sort_index(axis=0, ascending=True)

# .sort_index() 메소드는 행과 열 이름을 정렬해준다.
# 정렬 축을 설정할때는 axis를 사용한다
# axis=0 : 인덱스를 기준
# axis=1 : 컬럼을 기준
# ascending은 정렬의 방향을 설정해준다.
# ascending=True : 오름차순(기본값)
# ascending=False : 내림차순

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0    7/1/2016     Park     97      67           70      90.0   0.25     0
1    7/2/2016     Park     98      67           72      90.0   0.25     0
2    7/3/2016     Park    110      77           71     104.0   0.25     0
3    7/4/2016    Beach    134      99           76      98.0   0.25     0
4    7/5/2016    Beach    159     118           78     135.0   0.25     0
5    7/6/2016    Beach    103      69           82      90.0   0.25     0
6    7/6/2016    Beach    103      69           82      90.0   0.25     0
7    7/7/2016    Beach    143     101           81     135.0   0.25     0
8         NaN    Beach    123      86           82     113.0   0.25     0
9    7/9/2016    Beach    134      95           80     126.0   0.25     0
10  7/10/2016    Beach    140      98           82     131.0   0.25     0
11  7/11/2016    Beach    162     120           83     135.0   0.25     0
12  7/12/2016    Beach    130      95           84      99.0   0.25     0
13  7/13/2016    Beach    109      75           77      99.0   0.25     0
14  7/14/2016    Beach    122      85           78     113.0   0.25     0
15  7/15/2016    Beach     98      62           75     108.0   0.50     0
16  7/16/2016    Beach     81      50           74      90.0   0.50     0
17  7/17/2016    Beach    115      76           77     126.0   0.50     0
18  7/18/2016     Park    131      92           81     122.0   0.50     0
19  7/19/2016     Park    122      85           78     113.0   0.50     0
20  7/20/2016     Park     71      42           70       NaN   0.50     0
21  7/21/2016     Park     83      50           77      90.0   0.50     0
22  7/22/2016     Park    112      75           80     108.0   0.50     0
23  7/23/2016     Park    120      82           81     117.0   0.50     0
24  7/24/2016     Park    121      82           82     117.0   0.50     0
25  7/25/2016     Park    156     113           84     135.0   0.50     0
26  7/26/2016     Park    176     129           83     158.0   0.35     0
27  7/27/2016     Park    104      68           80      99.0   0.35     0
28  7/28/2016     Park     96      63           82      90.0   0.35     0
29  7/29/2016     Park    100      66           81      95.0   0.35     0
30  7/30/2016    Beach     88      57           82      81.0   0.35     0
31  7/31/2016    Beach     76      47           82      68.0   0.35     0

In [38]:
lemonade.sort_values(by='Location')

# 데이터 프레임의 내부에 있는 값으로 정렬할 수 있다.
# 예시의 경우 Location을 기준으로 했다.

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
15  7/15/2016    Beach     98      62           75     108.0   0.50
17  7/17/2016    Beach    115      76           77     126.0   0.50
16  7/16/2016    Beach     81      50           74      90.0   0.50
30  7/30/2016    Beach     88      57           82      81.0   0.35
14  7/14/2016    Beach    122      85           78     113.0   0.25
13  7/13/2016    Beach    109      75           77      99.0   0.25
12  7/12/2016    Beach    130      95           84      99.0   0.25
11  7/11/2016    Beach    162     120           83     135.0   0.25
10  7/10/2016    Beach    140      98           82     131.0   0.25
31  7/31/2016    Beach     76      47           82      68.0   0.35
8         NaN    Beach    123      86           82     113.0   0.25
7    7/7/2016    Beach    143     101           81     135.0   0.25
6    7/6/2016    Beach    103      69           82      90.0   0.25
5    7/6/2016    Beach    103      69           82      90.0   0.25
4    7/5/2016    Beach    159     118           78     135.0   0.25
3    7/4/2016    Beach    134      99           76      98.0   0.25
9    7/9/2016    Beach    134      95           80     126.0   0.25
29  7/29/2016     Park    100      66           81      95.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
27  7/27/2016     Park    104      68           80      99.0   0.35
26  7/26/2016     Park    176     129           83     158.0   0.35
25  7/25/2016     Park    156     113           84     135.0   0.50
24  7/24/2016     Park    121      82           82     117.0   0.50
20  7/20/2016     Park     71      42           70       NaN   0.50
22  7/22/2016     Park    112      75           80     108.0   0.50
21  7/21/2016     Park     83      50           77      90.0   0.50
19  7/19/2016     Park    122      85           78     113.0   0.50
18  7/18/2016     Park    131      92           81     122.0   0.50
1    7/2/2016     Park     98      67           72      90.0   0.25
2    7/3/2016     Park    110      77           71     104.0   0.25
23  7/23/2016     Park    120      82           81     117.0   0.50
0    7/1/2016     Park     97      67           70      90.0   0.25

# 데이터 추가 삭제하기

In [39]:
lemonade['Sold'] = 0 
print(lemonade.head(3))
## 'Sold' 라는 기본값 0의 컬럼을 추가한다.

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25     0
1  7/2/2016     Park     98      67           72      90.0   0.25     0
2  7/3/2016     Park    110      77           71     104.0   0.25     0

In [42]:
lemonade['Sold'] = lemonade['Lemon'] + lemonade['Orange']
print(lemonade.head(3))
# 'Sold에 Lemon과 Orange 의 갯수를 합한 데이터를 넣어준다.

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

In [43]:
lemonade['Revenue'] = lemonade['Price'] * lemonade['Sold']
print(lemonade.head(3))
# 컬럼을 추가하는 과정을 생략할 수 있다.

       Date Location  Lemon  Orange  ...  Leaflets  Price  Sold  Revenue
0  7/1/2016     Park     97      67  ...      90.0   0.25   164    41.00
1  7/2/2016     Park     98      67  ...      90.0   0.25   165    41.25
2  7/3/2016     Park    110      77  ...     104.0   0.25   187    46.75

[3 rows x 9 columns]

In [46]:
lemonade_column_drop = lemonade.drop('Sold', axis=1)
print(lemonade_column_drop.head(3))

lemonade_row_drop = lemonade_column_drop.drop(0, axis=0)
print(lemonade_row_drop.head(3))
#.drop을 이용해 추가한 컬럼,인덱스를 삭제할 수 있다.

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
0  7/1/2016     Park     97      67           70      90.0   0.25    41.00
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75
       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25    58.25

# 데이터 인덱싱

In [47]:
print(lemonade[0:5])

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277

   Revenue
0    41.00
1    41.25
2    46.75
3    58.25
4    69.25

In [48]:
lemonade['Location'] == 'Beach'

# 데이터 프레임에서 로케이션 컬럼 값이 Beach 일경우 True, 아닐경우 False를 반환

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
Name: Location, dtype: bool

In [49]:
print(lemonade[lemonade['Location'] == 'Beach'].head(5))
# 이처럼 자신이 원하는 데이터가 있는 프레임만 찾을 수 있다.

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277
5  7/6/2016    Beach    103      69           82      90.0   0.25   172
6  7/6/2016    Beach    103      69           82      90.0   0.25   172
7  7/7/2016    Beach    143     101           81     135.0   0.25   244

   Revenue
3    58.25
4    69.25
5    43.00
6    43.00
7    61.00

In [50]:
print(lemonade.iloc[0:3, 0:2])
# .iloc은 원하는 위치의 데이터를 표시할 수 있다.

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [53]:
print(lemonade.loc[0:2, ['Date','Location']])
# .loc는 iloc와 다르게 컬럼명을 직접적으로 설정해줘야한다.
# 또한 loc는 지정한 범위 그대로 나온다

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [55]:
print(lemonade.loc[lemonade['Revenue']>45, ['Date','Revenue']].head(3))

# .loc와 조건문을 결합하여 사용이 가능하다. 이 경우 Revenue 값이 45보다
# 큰 데이터프레임에서 Date, Revenue 의 값을 출력한다 라는 의미다

       Date  Revenue
2  7/3/2016    46.75
3  7/4/2016    58.25
4  7/5/2016    69.25

'\n.loc와 조건문을 결합하여 사용이 가능하다. 이 경우 Revenue 값이 45보다\n큰 데이터프레임에서 Date, Revenue 의 값을 출력한다 라는 의미다\n'

# 기존 데이터 전처리

In [59]:
print(lemonade.sort_values(by=['Temperature']).head(5))
# Temperature 을 기준으로 오름차순 정렬

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0    7/1/2016     Park     97      67           70      90.0   0.25   164
20  7/20/2016     Park     71      42           70       NaN   0.50   113
2    7/3/2016     Park    110      77           71     104.0   0.25   187
1    7/2/2016     Park     98      67           72      90.0   0.25   165
16  7/16/2016    Beach     81      50           74      90.0   0.50   131

    Revenue
0     41.00
20    56.50
2     46.75
1     41.25
16    65.50

In [62]:
lemonade.sort_values(by=['Temperature', 'Revenue'], ascending= False, inplace = True)
print(lemonade.loc[:,['Date','Temperature', 'Revenue']].head(5))

# Temperature, Revenue 두 컬럼을 기준으로 했지만 먼저 선언된 Temperature 을 기준
# ascending= False 이므로 내림차순 정렬
# inplace = True는 테이터프레임의 변경사항을 저장해주는 기능을 한다

         Date  Temperature  Revenue
25  7/25/2016           84   134.50
12  7/12/2016           84    56.25
26  7/26/2016           83   106.75
11  7/11/2016           83    70.50
24  7/24/2016           82   101.50

In [63]:
print(lemonade.groupby(by='Location').count())
# 데이터들을 선언한 변수를 기준으로 그룹화 시켜준다.
# 예시의 코드는 Location 컬럼이 포함된 다른 컬럼의 총 갯수를 표현한다.

          Date  Lemon  Orange  Temperature  Leaflets  Price  Sold  Revenue
Location
Beach       16     17      17           17        17     17    17       17
Park        15     15      15           15        14     15    15       15

In [95]:
print(lemonade.groupby('Location')['Revenue'].agg([max,min]))
# 로케이션 별 최고 최소 수익을 나타내준다.

            max   min
Location
Beach      95.5  43.0
Park      134.5  41.0

In [94]:
import numpy as np
lemonade.mean()
print(lemonade.groupby('Location')[['Revenue', 'Sold']].agg([max,min,np.mean]))
# mean std sum 등 일부 함수는 .agg 안에서 넘파이에서 작성해야 한다.

         Revenue                  Sold
             max   min       mean  max  min        mean
Location
Beach       95.5  43.0  58.988235  282  123  201.294118
Park       134.5  41.0  78.546667  305  113  190.333333

# 결측치

In [101]:
lemonade.isna()
# 데이터 프레임의 결측치 값은 True 아닌것은 False로 반환한다.

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
8,True,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,True,False,False,False
0,False,False,False,False,False,False,False,False,False

In [108]:
null_del = lemonade
# null_del=null_del.head() : 행 수 줄여서 하는 코딩
#인덱스 명 제 코딩

In [105]:
null_del.dropna()
# 셀에 null 값이 하나라도 있을경우 해당 행을 삭제하여 출력한다.

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50

In [109]:
null_del.dropna(how='all')
# 모든 행의 값이 null인 경우만 삭제하여 출력

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
28,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
29,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
22,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
27,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
21,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
20,7/20/2016,Park,71,42,70,NaN,0.50,113,56.50
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00

In [110]:
null_del.fillna(0)
# null 값을 전부 0으로 대체해주는 메서드

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
28,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
8,0,Beach,123,86,82,113.0,0.25,209,52.25
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
29,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
22,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
27,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
21,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
20,7/20/2016,Park,71,42,70,0.0,0.50,113,56.50
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00

In [113]:
null_del.fillna({'Date': null_del['Date'].mean()})
# 이러한 코드로 넣을 경우 Date 컬럼 값중 null 값은 Date의 평균 값으로 대체된다.
# 하지만 오류가 난 것은, 현제 Date값이 정수,실수형이 아닌 
# String 타입으로 작성되어 연산이 되지 않기 때문이다.

TypeError: ignored

In [114]:
null_del.fillna({'Date' : '12/31/2021'})
# 이럴 경우 딕셔너리로 칼럼명과 데이터를 넘겨주면 변경이 가능하다.

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
28,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
8,12/31/2021,Beach,123,86,82,113.0,0.25,209,52.25
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
29,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
22,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
27,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
21,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
20,7/20/2016,Park,71,42,70,NaN,0.50,113,56.50
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00

In [117]:
# 결측치를 알맞게 대체 했다면 적용하는 방법이다.
null_del
# 지금의 데이터는 null 갑이 대체되지 않았다.

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
28,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
29,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
22,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
27,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
21,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
20,7/20/2016,Park,71,42,70,NaN,0.50,113,56.50
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00

In [118]:
null_del.fillna({'Date' : '12/31/2021'},inplace=True)

null_del.fillna(method='ffill')

# inplace로 변경된 값을 데이터 프레임에 적용해주고, 
# method 매개변수는 앞에서 뒤의 데이터를 대체해주는 'ffill'
# 뒤에서 대체해주는 'backfill 이 있다.

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
28,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
8,12/31/2021,Beach,123,86,82,113.0,0.25,209,52.25
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
29,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
22,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
27,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
21,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
20,7/20/2016,Park,71,42,70,104.0,0.50,113,56.50
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00